<ion-view class="default-background-color">
	<ion-content class="bg-dark" scroll="false">
	




	<md-button class="md-primary md-raised" ng-click="showFeed()">
      Feed
    </md-button>
    <md-button class="md-primary md-raised" ng-click="showSleep()">
      Sleep
    </md-button>
    <md-button class="md-primary md-raised" ng-click="showPlay()">
      Play
    </md-button>
    <md-button class="md-primary md-raised" ng-click="showLove()">
      Love
    </md-button>
    






















  </ion-content>
</ion-view>