body, html, *{font-family: 'Montserrat', sans-serif;}

.default-background-color{ background: white;}

.spinn-Position {position: absolute; bottom: 125px; width:90%;opacity: 0.7;}
.spinner svg { width: 100% !important; height: 80px !important; stroke: #cfd955 !important; }

/*.start-title{width:70%; margin-left: 15%;text-align: center; margin-top: 30px;}
.start-title p{font-size: 44px;font-family: 'Montserrat', sans-serif; color:#6d6767;font-weight: 400;}
.start-title p span {font-weight: 700;}*/

.start-logo{position:relative;width:75%;margin-left: 12.5%;}
img.start-logo-img {width:100%; height:auto;}

.fullSize-background{position: absolute; z-index: 0; width:100%; height:100%;}
.fullSize-background img {width: 100%;height:100%;}
.slider-fader{position: absolute; top: 0;left: 0; z-index: 1000;width:100%; height: 100%; background: rgba(0,0,0,0); transition:all 300ms ease-in-out;visibility: hidden;}

.cnfg-content-container{position:absolute;width: 100%; height:100%; padding: 5%; background: transparent; box-sizing: border-box;}
.cnfg-content-container-inner{width:100%;height:100%; background: white;}
.cnfg-content-container-inner-start{width:100%;height:100%; background: white;padding-top: 80px;}

.config1-title, .config2-title, .config3-title, .config4-title{position:absolute;width:80%; margin-left: 10%;text-align: center; margin-top: 40px;}
.config2-title, .config3-title{margin-top: 180px;}
.config4-title {margin-top: 220px;}
.config1-title p, .config2-title p, .config3-title p, .config4-title p{font-size: 28px;font-family: 'Montserrat', sans-serif; font-weight:400; color:#6d6767; line-height: 1.2;}
.config1-title p span, .config2-title p span, .config3-title p span {font-weight: 700;}

.config1-info {position:absolute;width:100%;padding:0 7%;margin-top: 150px;}
.config1-info p {font-size: 12pt; color:#6d6767;}
.config1-info p span {font-weight: 700;}

.start-config-btn{position:absolute;width:60%;margin: 380px 0 0 20%; text-align: center;}
.start-config-btn p {font-size: 16pt; color:#6d6767; font-weight: 700;}
.start-config-btn p:first-child{margin-bottom: 10px;}
.start-config-btn p:last-child{margin-top: 10px;}
.start-config-btn i {font-size: 102pt; color:#cfd955;}

.config-back-btn{position: absolute; margin:2% 0 0 0%; width:50px; height:50px;text-align: center;z-index: 1;}
.config-back-btn i {color:#6d6767; font-size: 38pt; opacity: 0.7;}

.config-rebegin-btn{position: absolute; margin:4.5% 0 0 0%;right:10px; width:50px; height:50px;text-align: center;z-index: 1;}
.config-rebegin-btn i{color:#6d6767; font-size: 28pt; opacity: 0.7;}

.cnfg-slide-box{width: 100%;height: 100%;}

.slider-pager .slider-pager-page {color:#6d6767;width:18px;font-size: 12px;}

.bckgrnd-gear{position: absolute;width: 40%;height:auto;text-align: center;margin: 3% 0 0 12%;z-index: 0;}
.bckgrnd-gear i {font-size: 132pt; color:rgba(109,103,103,0.2);}

.character-choice1, .character-choice2{width:50%;position: absolute;margin:78% 0 0 25%;padding: 2% 10%;border:1px solid rgba(109,103,103,0.5);box-sizing: border-box;}
.character-choice2 {margin-top: 125%;}
.character-choice1 img, .character-choice2 img{width:100%;height:auto;}

.deviceList-title{position: absolute; margin-top: 83%; margin-left: 5%; font-weight: 400; color: #6d6767; opacity: 0.5; font-size: 10pt; }

.scroll-container-deivceList {width:100%;height:280px;margin-top:310px;}
.scroll-container-skinList {width:100%;height:280px;margin-top:310px;}

.deviceItem {width:90%;	height: 70px; margin: 2% auto; box-sizing: border-box;border:1px solid rgba(109,103,103,0.1);padding-top: 7%;}
.deviceItem p {	height: auto; color: rgba(109,103,103,0.9);font-size: 16px;font-weight: 700;}
.deviceItem i {font-size: 32px;color:#cfd955;}
.link-decoration{text-decoration: none;}

.characterItem{width:60%;height:auto;margin: 2% auto; box-sizing: border-box;padding: 7% 6% 5% 6%;}
.characterItem:nth-child(1){border:1px solid #cfd955;}
.characterItem:nth-child(2){border:1px solid #d85b4b;}
.characterItem:nth-child(3){border:1px solid #5f7a92;}
.characterItem:nth-child(4){border:1px solid #d3b741;}
.character-choice-img{width:100%;margin-left: 0%;}

.floaterLeft { float:left; }
.floaterRight { float:right; }
.bluetooth-margin{margin-top:-7px;}

.bluetooth-connect-icon { width:80%; height: 40%; margin-left:10%; margin-top: 93%; padding: 0 24.3%}
.bluetooth-connect-icon i {font-size: 94pt;color: #cfd955;}

.progress {width:70%; height:8px; margin-left: 15% !important; border-radius:0px; background-color: #cfd955; margin-top: -50px;}
.progress .indeterminate {background-color: #6d6767;}

.infoPopup .popup-head ,.infoPopup .popup-body,.infoPopup .popup-title,.infoPopup .popup-buttons ,.infoPopup .popup-buttons .button-default, .infoPopup .popup, .infoPopup .popup .popup-head,  .infoPopup .popup .popup-body,.popup {
	background: transparent;
	border:0px;
}

.popup-body{padding:0;}


.infoPopup .popup{
	position: absolute;
	left: 0px;
	top:0px;
	background: red;
	width:90%;
	height:95%;
	margin:7.5% 5%;
}

.movieInfo-popUp
{
;
	background: white; 
	text-align: left;
}

.movieInfo-popUpHead
{
	position:absolute; 
	width:100%; 
	height:50px; 
	text-align: center; 
	line-height: 50px;
	top:0px;
	left:0px; 
	background: -webkit-linear-gradient(top, #0ba2c8 0%,#0bfaa8 100%);
	color:white;
	z-index: 2;	
}

.movieInfo-popUpHead:hover{cursor:pointer;}

.movieInfo-popUpTitleText
{
	margin-top: 20px;
	width:100%;
	color:#107391;
	font-weight: 400;
	background: transparent;
}

.movieInfo-popUpTitle
{
	font-weight: 800;
	text-transform: uppercase;
}

.popUp-btn {width:100px; height:100px;margin: 20px; background: #00ff00;}

.character-stage {position:absolute; width:100%; height: 35%; background: rgba(255,255,255,1);bottom:0;}
/*.character-container {position:absolute; width:60%; height:40%; background: rgba(255,0,0,0); bottom:20%;}*/
.character-container {position:absolute; width:75%; height:40%; bottom:21%; margin-left: 12.5%;background-size: 100%;-webkit-animation:  0.5s ease-in-out; -moz-animation:  0.5s ease-in-out; -o-animation:  0.5s ease-in-out; -ms-animation:  0.5s ease-in-out; animation:  0.5s ease-in-out; opacity: 0; } 

/*.character-container {background-size: 100% !important;}*/
.owl-in-game {width:60%;height:auto;margin-top: 5%;margin-left: 20%;}
.owl-menu i{font-size: 20px; line-height:40px;}
i.larger-icon{font-size: 45px;margin-top: -4.5px; margin-left: 1px;}
i.larger-icon-pad{font-size: 26px;margin-top: -1px;}

.love-status{float:left;margin:20px 0 0 15% !important; background: white; width:25%; height:18px; border:2px solid white;transform: scale(-1);}
.love-status .determinate{width:0%;background-color:#ef5350;transition: width .6s linear;}

.feed-status{float:left;margin:20px 0 0 25% !important; background: white; width:25%; height:18px; border:2px solid white;transform: scale(-1);}
.feed-status .determinate{width:0%;background-color:#9e9e9e;transition: width .6s linear;}

.sleep-status{float:left;margin:30px 0 0 15% !important; background: white; width:25%; height:18px; border:2px solid white;transform: scale(-1);}
.sleep-status .determinate{width:0%;background-color:#5c6bc0;transition: width .6s linear;}

.level-status{float:left;margin:30px 0 0 25% !important; background: white; width:25%; height:18px; border:2px solid white;transform: scale(-1);}
.level-status .determinate{width:0%;background-color:#d4e157;transition: width .6s linear;}

.status-info{margin-left: 15px;}
 
.status-icon-love{position: absolute;font-size: 28px;margin: 16px 0 0 3%;}
.status-icon-feed{position: absolute;font-size: 24px;margin: 18px 0 0 54%;}
.status-icon-sleep{position: absolute;font-size: 28px;margin: 52px 0 0 4.5%;}
.status-icon-sleep i {font-size: 50px;} 
.status-icon-level{position: absolute;font-size: 28px;margin: 62px 0 0 52.8%;}
.status-icon-level i {font-size: 32px;}

.animate-icon-love{position: absolute;font-size: 58px;margin: 65% 0 0 52%;opacity: 0;-webkit-animation:  0.4s ease-in-out; -moz-animation:  0.4s ease-in-out; -o-animation:  0.4s ease-in-out; -ms-animation:  0.4s ease-in-out; animation:  0.4s ease-in-out;z-index:998;}

.attention-bubble{position: absolute;width:30%; margin-left: 55%; margin-top:45%;-webkit-animation:  0.5s ease-in-out; -moz-animation:  0.5s ease-in-out; -o-animation:  0.5s ease-in-out; -ms-animation:  0.5s ease-in-out; animation:  0.5s ease-in-out; opacity: 0;}
.attention-bubble img{width: 100%;}
.attention-bubble i.love{position: absolute; font-size: 50px; margin: 31px 0 0 32px;}
.attention-bubble i.feed{position: absolute; font-size: 48px; margin: 28px 0 0 37px;}
.attention-bubble i.sleep{position: absolute; font-size: 96px; margin: 5px 0 0 38px;}
.attention-bubble i.level{position: absolute; font-size: 58px; margin: 23px 0 0 31px;}

.owl-menu .btn-floating{width: 42px;height: 42px;padding: 1.5px 0 0 0.5px;bottom: 1px;}

.show{opacity:1;}
.hide{opacity:0;}


/*LENNART CSS*/

.popup-body{padding:0;}



.grey-text {color:#6e6868 !important;}
.grey {background-color:#6e6868 !important;}

.blue-text {color:#5c6bc0 !important;}
.blue {background-color:#5c6bc0 !important;}

.red-text {color:#EF5350 !important;}
.red {background-color:#EF5350 !important;}

.green-text {color:#d4e157 !important;}
.green {background-color:#d4e157 !important;}

.green-owl-bg-color {background-color:#cfd955 !important;}
.red-owl-bg-color {background-color:#d85b4b !important;}
.blue-owl-bg-color {background-color:#5f7a92 !important;}
.yellow-owl-bg-color {background-color:#d3b741 !important;}

.green-owl-text-color {color:#cfd955;}
.red-owl-text-color {color:#d85b4b;}
.blue-owl-text-color {color:#5f7a92;}
.yellow-owl-text-color {color:#d3b741;}

.bg-dark {background:#333;}


/* EVENT POPUP */

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {background-color:#fff; color:#e0e0e0;}


md-toolbar, .md-toolbar-tools {min-height:70px; padding:10px;}
md-dialog {min-width: 90%; min-height:90%;}

.popup-head-icon i { font-size:48px; line-height: 70px;}
.popup-head-icon-sleep i { font-size:96px;}
.popup-close {font-size: 36px; line-height: 70px;}

.popup {
	
	height: 100%;
	width: 100%;
	box-sizing:border-box;
	background-color:#fff;
}
.popup-container .popup {
	
	width:300px;
	margin:auto;
	background-color:#fff;
	border-radius:5px;
}
.row {padding-left:20px; padding-right:20px;}
.popup-head {padding:0; border:none;}
.header-row {padding:10px;}

.popup-header i {font-size:48px;}
.close-icon {text-align: right; color:#e0e0e0;}
.popup-body {overflow: hidden;}


.event-start-btn {
	font-size:32px; 
	text-align: center; 
	margin-top:30px; 
	margin-bottom:20px;
	font-weight: 700;
}

.event-icon-loading {
	font-size:64px; 
	text-align: center; 
	margin-top:30px; 
	margin-bottom:20px;
	font-weight: 700;
}

/* FEEDING */

.feeding-item {
	height:125px;
	border:1px solid #e0e0e0;
}
.feeding-item-chosen {
	height:150px;
}

.feeding-quest {
	font-size:24px; 
	text-align: center; 
	font-weight: 700;
	color:#6e6868;
	line-height: 1.2em;
	min-height: 60px;
}
.feeding-color {
	position: relative;
	height:90px;
	width:90px;
	background-color:#eb3d3d;
	border-radius: 50%;
	margin: auto;
	border: 3px solid #efefef;
	text-align: center;
	color:#fff;
}

.feeding-timer { font-size:24px; text-align: center;margin-auto;}
.feeding-timer p:nth-child(1){margin: auto; font-size: 20px;}
.feeding-timer p:nth-child(2){ font-size: 16px;margin-bottom: 10px;}
.feeding-label {font-size:12px; text-align: center;}

.feeding-color i {
	position: absolute;
	text-align: center;
	line-height: 84px;
	font-size: 32px;
	left:0px;
	right:0px;
}
.feeding-timer { font-size:24px;}
.feeding-timer p:nth-child(1){text-align: center; font-size: 24px; margin-bottom:0px; color:#999;}
.feeding-timer p:nth-child(2){ text-align: center; font-size: 12px; margin-bottom:10px; color:#999;}

.feeding-color-scanning {
	height:45px;
	width:45px;
	background-color:#00ee90;
	border-radius: 50%;
	margin: auto;
	border: 3px solid #efefef;
	margin-top: -10px;
	text-align: center;
}
.feeding-color-scanning i {line-height: 100px; font-size:14px; color:#999;}
.feeding-status {font-size:64px; line-height:119px;}

.feeding-success {
	width:125px;
	height:125px;
	margin: auto;
	border:3px solid #e0e0e0;
	border-radius: 50%;
	text-align: center;
	color:#fff;
	line-height: 119px;
	font-size: 48px;
}

.feeding-scanned-colors {
	width:75px;
	height:75px;
	color:#fff;
	font-size: 24px;
	line-height: 75px;
	text-align: center;
	background-color:#666;
	border-radius: 50%;
	margin: auto;
}
.feeding-points {text-align: center; font-size:24px; font-weight: 700; margin-bottom: 10px;}



.apple-lime-blueberries {
	background:url(../img/fruit_images/apple-lime-blueberries.svg); 
	background-size:90% 90%;
	background-position: center center;
	background-repeat: no-repeat;
}

.current-fruit{
	background:url(../img/fruit_images/apple.svg); 
	background-size:90% 90%;
	background-position: center center;
	background-repeat: no-repeat;
}

.apple {
	background:url(../img/fruit_images/apple.svg); 
	background-size:90% 90%;
	background-position: center center;
	background-repeat: no-repeat;
}
.lime-banana {
	background:url(../img/fruit_images/lime-banana.svg); 
	background-size:90% 90%;
	background-position: center center;
	background-repeat: no-repeat;
}
.melon-lime-cherry {
	background:url(../img/fruit_images/melon-lime-cherry.svg); 
	background-size:90% 90%;
	background-position: center center;
	background-repeat: no-repeat;
}
.melon-pear-cherry-blueberries {
	background:url(../img/fruit_images/melon-pear-cherry-blueberries.svg); 
	background-size:90% 90%;
	background-position: center center;
	background-repeat: no-repeat;
}

/* SLEEPING */

.sleep-quest {
	font-size:24px; 
	text-align: center; 
	font-weight: 700;
	line-height: 1.2em;
	z-index: 100;
}

.sleep-success {
	width:125px;
	height:125px;
	border:8px solid #5c6bc0;
	border-radius: 50%;
	margin: auto;
	text-align: center;
	font-size:48px;
	line-height: 109px;
	margin-bottom: 15px;
}
.sleeping-status {
	width:100%;
	height:150px;
}
.sleeping-ball {
	width:75px;
	height:75px;
	color:#fff;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	border-radius: 50%;
	margin: auto;
}
.xp-ball {
	width:75px;
	height:75px;
	color:#fff;
	font-size: 24px;
	line-height: 75px;
	text-align: center;
	border-radius: 50%;
	margin: auto;
	font-weight: 700;
}
.icon-owl-white {
	background:url(../img/Owl_Skins/icon-owl-white.svg);
	background-size:contain;
	background-position: center center;
} 
.owl-sleeping-mood {
	background: url(../img/Owl_Skins/skin-green-sleepy.svg);
	background-size: 100% 100%;
	background-position: center center;
}
.owl-sleeping {
	background: url(../img/Owl_Skins/skin-green-sleeping.svg);
	background-size: 100% 100%;
	background-position: center center;
}
.sleep-indicator md-progress-circular {
	margin:auto;
	margin-top:30px;

}
.sleep-indicator {
	position: relative;

}
.progress-counter {
	position:absolute;
	width: 100%;
	line-height: 86px;
	top:0px; 
	font-size:24px;  
	text-align: center;
}
.progress-counter-label {
	position:absolute;
	width: 100%;
	line-height: 120px;
	top:0px; 
	font-size:10px;  
	text-align: center;
}
md-progress-circular path {stroke: #5c6bc0;}

.love-owl {
	width:100%;
	height:150px;
	background: url(../img/Owl_Skins/skin-green-back.svg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.play-owl {
	width:100%;
	height:150px;
	background: url(../img/Owl_Skins/skin-green-sad.svg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.mar-top-30 {margin-top:30px;}
.mar-top-20 {margin-top:20px;}

.popup-container.dyingOwl-PopUp {width: 80%;margin: auto;height: 65%;padding: 0;}
.dyingOwl-PopUp .popup {padding: 0%; font-family: 'Montserrat', sans-serif;background: white;border-radius: 5px;}
.dyingOwl-PopUp .popup-head {padding: 20px 0;text-transform: uppercase;border-radius: 5px 5px 0 0;}
.dyingOwl-PopUp h3.popup-title.ng-binding {font-size: 18px;font-family: 'Montserrat', sans-serif;font-weight: bold;}
.dyingOwl-PopUp .popup-body{padding: 15px 0px 0 0px ;text-align: center;font-family: 'Montserrat', sans-serif;margin-bottom: 20px;color:#494040;}
.dyingOwl-PopUp .dyingPopUp-text{padding: 10px 10px 5px 10px;}
.dyingOwl-PopUp .popup-buttons{position: absolute;padding: 0;width: 50%;min-height: 45px;margin-left: 25%;}
.dyingOwl-PopUp .popup-buttons button{font-family: 'Montserrat', sans-serif;}

.dying-popUp-owl-img{width:80%;height:150px;margin:auto; margin-bottom: 20px;}
.green-owl-background {background: url(../img/Owl_Skins/skin-green-normal.svg) no-repeat center center;}
.red-owl-background {background: url(../img/Owl_Skins/skin-red-normal.svg) no-repeat center center;}
.blue-owl-background {background: url(../img/Owl_Skins/skin-blue-normal.svg) no-repeat center center;}
.yellow-owl-background {background: url(../img/Owl_Skins/skin-yellow-normal.svg) no-repeat center center;}

.big-owl-dunno-what-to-do{position: absolute; width:150%;height:600px; margin-left: -25%; bottom:-600px; background-size:120%;z-index: 999;transition:all 200ms;}
.play-popup-title{padding-bottom: 10px; font-size: 24px;width: 100%;text-align: center;}