body, html, *{font-family: 'Montserrat', sans-serif;}

.default-background-color{ background: white;}

.spinn-Position {position: absolute; bottom: 125px; width:90%;opacity: 0.7;}
.spinner svg { width: 100% !important; height: 80px !important; stroke: #6d6767 !important; }

/*.start-title{width:70%; margin-left: 15%;text-align: center; margin-top: 30px;}
.start-title p{font-size: 44px;font-family: 'Montserrat', sans-serif; color:#6d6767;font-weight: 400;}
.start-title p span {font-weight: 700;}*/

.start-logo{position:relative;width:85%;margin-left: 7.5%;}
img.start-logo-img {width:100%; height:auto;}

.fullSize-background{position: absolute; z-index: 0; width:100%; height:100%;}
.fullSize-background img {width: 100%;height:100%;}

.cnfg-content-container{position:absolute;width: 100%; height:100%; padding: 5%; background: transparent; box-sizing: border-box;}
.cnfg-content-container-inner{width:100%;height:100%; background: white;}
.cnfg-content-container-inner-start{width:100%;height:100%; background: white;padding-top: 80px;}

.config1-title, .config2-title, .config3-title, .config4-title{position:absolute;width:80%; margin-left: 10%;text-align: center; margin-top: 40px;}
.config2-title, .config3-title{margin-top: 180px;}
.config4-title {margin-top: 220px;}
.config1-title p, .config2-title p, .config3-title p, .config4-title p{font-size: 28px;font-family: 'Montserrat', sans-serif; font-weight:400; color:#6d6767; line-height: 1.2;}
.config1-title p span, .config2-title p span, .config3-title p span {font-weight: 700;}

.config1-info {position:absolute;width:100%;padding:0 7%;margin-top: 150px;}
.config1-info p {font-size: 12pt; color:#6d6767;}
.config1-info p span {font-weight: 700;}

.start-config-btn{position:absolute;width:60%;margin: 380px 0 0 20%; text-align: center;}
.start-config-btn p {font-size: 16pt; color:#6d6767; font-weight: 700;}
.start-config-btn p:first-child{margin-bottom: 10px;}
.start-config-btn p:last-child{margin-top: 10px;}
.start-config-btn i {font-size: 102pt; color:#6d6767;}

.config-back-btn{position: absolute; margin:2% 0 0 0%; width:50px; height:50px;text-align: center;z-index: 1;}
.config-back-btn i {color:#6d6767; font-size: 38pt; opacity: 0.7;}

.config-rebegin-btn{position: absolute; margin:4.5% 0 0 0%;right:10px; width:50px; height:50px;text-align: center;z-index: 1;}
.config-rebegin-btn i{color:#6d6767; font-size: 28pt; opacity: 0.7;}

.cnfg-slide-box{width: 100%;height: 100%;}

.slider-pager .slider-pager-page {color:#6d6767;width:18px;font-size: 12px;}

.bckgrnd-gear{position: absolute;width: 40%;height:auto;text-align: center;margin: 3% 0 0 12%;z-index: 0;}
.bckgrnd-gear i {font-size: 132pt; color:rgba(109,103,103,0.2);}

.character-choice1, .character-choice2{width:50%;position: absolute;margin:78% 0 0 25%;padding: 2% 10%;border:1px solid rgba(109,103,103,0.5);box-sizing: border-box;}
.character-choice2 {margin-top: 125%;}
.character-choice1 img, .character-choice2 img{width:100%;height:auto;}

.deviceList-title{position: absolute; margin-top: 83%; margin-left: 5%; font-weight: 400; color: #6d6767; opacity: 0.5; font-size: 10pt; }

.scroll-container-deivceList {width:100%;height:280px;margin-top:310px;}
.scroll-container-skinList {width:100%;height:280px;margin-top:310px;}

.deviceItem {width:90%;	height: 70px; margin: 2% auto; box-sizing: border-box;border:1px solid rgba(109,103,103,0.1);padding-top: 7%;}
.deviceItem p {	height: auto; color: rgba(109,103,103,0.9);font-size: 16px;font-weight: 700;}
.deviceItem i {font-size: 32px; opacity: 0.4;}
.link-decoration{text-decoration: none;}

.characterItem{width:50%;height:auto;margin: 2% auto; box-sizing: border-box;border:1px solid rgba(109,103,103,0.1);padding: 7% 6% 5% 6%;}
.character-choice-img{width:100%;margin-left: 0%;}

.floaterLeft { float:left; }
.floaterRight { float:right; }
.bluetooth-margin{margin-top:-7px;}

.bluetooth-connect-icon { width:80%; height: 40%; margin-left:10%; margin-top: 93%; padding: 0 24.3%}
.bluetooth-connect-icon i {font-size: 94pt; color:rgba(109,103,103,0.5);}

.progress {width:70%; height:8px; margin-left: 15% !important; border-radius:0px; background-color: rgba(109,103,103,0.5); margin-top: -50px;}
.progress .indeterminate {background-color: #6d6767;}

.infoPopup .popup-head ,.infoPopup .popup-body,.infoPopup .popup-title,.infoPopup .popup-buttons ,.infoPopup .popup-buttons .button-default, .infoPopup .popup, .infoPopup .popup .popup-head,  .infoPopup .popup .popup-body,.popup {
	background: transparent;
	border:0px;
}

.popup-body{padding:0;}


.infoPopup .popup{
	position: absolute;
	left: 0px;
	top:0px;
	background: red;
	width:90%;
	height:95%;
	margin:7.5% 5%;
}

.movieInfo-popUp
{
;
	background: white; 
	text-align: left;
}

.movieInfo-popUpHead
{
	position:absolute; 
	width:100%; 
	height:50px; 
	text-align: center; 
	line-height: 50px;
	top:0px;
	left:0px; 
	background: -webkit-linear-gradient(top, #0ba2c8 0%,#0bfaa8 100%);
	color:white;
	z-index: 2;	
}

.movieInfo-popUpHead:hover{cursor:pointer;}

.movieInfo-popUpTitleText
{
	margin-top: 20px;
	width:100%;
	color:#107391;
	font-weight: 400;
	background: transparent;
}

.movieInfo-popUpTitle
{
	font-weight: 800;
	text-transform: uppercase;
}

.popUp-btn {width:100px; height:100px;margin: 20px; background: #00ff00;}

.character-stage {position:absolute; width:100%; height: 35%; background: rgba(255,255,255,1);bottom:0;}
.character-container {position:absolute; width:100%; height:40%; background: rgba(255,0,0,0); bottom:20%;}
.owl-in-game {width:60%;height:auto;margin-top: 5%;margin-left: 20%;}
.owl-menu i{font-size: 20px; line-height:40px;}
i.larger-icon{font-size: 45px;margin-top: -4.5px; margin-left: 1px;}
i.larger-icon-pad{font-size: 26px;margin-top: -1px;}

.love-status{float:left;margin:20px 0 0 15% !important; background: white; width:25%; height:18px; border:2px solid white;transform: scale(-1);}
.love-status .determinate{width:0%;background-color:#ef5350;transition: width .6s linear;}

.feed-status{float:left;margin:20px 0 0 25% !important; background: white; width:25%; height:18px; border:2px solid white;transform: scale(-1);}
.feed-status .determinate{width:0%;background-color:#9e9e9e;transition: width .6s linear;}

.sleep-status{float:left;margin:30px 0 0 15% !important; background: white; width:25%; height:18px; border:2px solid white;transform: scale(-1);}
.sleep-status .determinate{width:0%;background-color:#5c6bc0;transition: width .6s linear;}

.level-status{float:left;margin:30px 0 0 25% !important; background: white; width:25%; height:18px; border:2px solid white;transform: scale(-1);}
.level-status .determinate{width:0%;background-color:#d4e157;transition: width .6s linear;}

.status-info{margin-left: 15px;}
 
.status-icon-love{position: absolute;font-size: 28px;margin: 16px 0 0 3%;}
.status-icon-feed{position: absolute;font-size: 24px;margin: 18px 0 0 54%;}
.status-icon-sleep{position: absolute;font-size: 28px;margin: 52px 0 0 4.5%;}
.status-icon-sleep i {font-size: 50px;} 
.status-icon-level{position: absolute;font-size: 28px;margin: 62px 0 0 52.8%;}
.status-icon-level i {font-size: 32px;}

.attention-bubble{position: absolute;width:30%; margin-left: 55%; margin-top:45%;-webkit-animation:  0.5s ease-in-out; -moz-animation:  0.5s ease-in-out; -o-animation:  0.5s ease-in-out; -ms-animation:  0.5s ease-in-out; animation:  0.5s ease-in-out; opacity: 0;}
.attention-bubble img{width: 100%;}
.attention-bubble i.love{position: absolute; font-size: 50px; margin: 31px 0 0 32px;}
.attention-bubble i.feed{position: absolute; font-size: 48px; margin: 28px 0 0 37px;}
.attention-bubble i.sleep{position: absolute; font-size: 96px; margin: 5px 0 0 38px;}
.attention-bubble i.level{position: absolute; font-size: 58px; margin: 23px 0 0 31px;}

.show{opacity:1;}
.hide{opacity:0;}